body {
    background-image: url("assets/background.png");
    background-size: cover;
    background-blend-mode: color;
}

img {
    margin-top: 11%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    text-shadow: 2px 1.2px black;
}

a {
    text-decoration: currentColor;
    color: aqua;
}