body {
    background-image: url("assets/background.png");
    background-size: cover;
    background-blend-mode: color;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    margin-top: 11%;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 2px 2px black;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    position: relative;
    text-shadow: 2px 1.2px black;
}

button {
    margin-bottom: 10%;
}

a {
    text-decoration: currentColor;
    color: aqua;
}

.tableStrong {
    font-weight: bolder;
    font-size: large;
    text-shadow: 2px 1.2px black;
}

th {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}