@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@font-face {
    font-family: p5Font;
    src: url(assets/p5hatty.ttf);
}

html::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15%;
    background-color: #24252A;
}

.logo {
    cursor: pointer;
    max-height: 40px;
    max-width: auto;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: blue;
}

button {
    padding: 9px 25px;
    background-color: rgb(57, 57, 255);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(57, 57, 255, 0.8);
}

.page-wrapper {
    font-family: "Montserrat";
    text-align: center;
    background-color: rgb(43, 44, 51);
    min-height: 92.7vh;
}

.page-wrapper h1, h2, p, a, b {
    color: #edf0f1;
}

.page-wrapper p {
    padding-top: 15px;
}

.avatar {
    margin-top: 25vh;
    max-height: auto;
    max-width: 200px;
    box-shadow: 0px 0px 10px rgb(21, 22, 26);
    border-radius: 50%;
}

.avatarTeam {
    margin-top: 10vh;
    max-height: 200px;
    max-width: auto;
    box-shadow: 0px 0px 10px rgb(21, 22, 26);
    border-radius: 50%;
}

.devSplitter {
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 40px;
}

.staffSplitter {
    text-decoration: underline;
    margin-top: 40px;
    margin-bottom: 40px;
}

.devTeam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 15%;
    animation: fadeIn ease-out 2s;
    -webkit-animation: fadeIn ease-out 2s;
    -moz-animation: fadeIn ease-out 2s;
    -o-animation: fadeIn ease-out 2s;
    -ms-animation: fadeIn ease-out 2s;
}

.staffTeam {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 15px 15%;
    animation: fadeIn ease-out 2s;
    -webkit-animation: fadeIn ease-out 2s;
    -moz-animation: fadeIn ease-out 2s;
    -o-animation: fadeIn ease-out 2s;
    -ms-animation: fadeIn ease-out 2s;
}

.devAvatar {
    max-height: 200px;
    max-width: auto;
    box-shadow: 0px 0px 10px rgb(21, 22, 26);
    border-radius: 50%;
}

.staffAvatar {
    max-height: 200px;
    max-width: auto;
    box-shadow: 0px 0px 10px rgb(21, 22, 26);
    border-radius: 50%;
}

.devButton {
    margin-top: 15px;
}

.staffButton {
    margin-top: 15px;
}

.smallText {
    font-size: 12px;
}

.devTeamBackground {
    background-color: rgb(21, 22, 26);
    padding: 40px;
    border-radius: 5%;
    min-width: 420px;
    max-width: 420px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgb(21, 22, 26);
}

.staffTeamBackground {
    background-color: rgb(21, 22, 26);
    padding: 40px;
    border-radius: 5%;
    min-width: 420px;
    max-width: 420px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px rgb(21, 22, 26);
}

@keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}
  
@-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
}

@media only screen and (max-device-width: 480px) {
    .devTeamBackground {
        max-width: 360px;
        min-width: 360px;
    }

    .staffTeamBackground {
        max-width: 360px;
        min-width: 360px;
    }

    .page-wrapper {
        min-width: 100vw;
    }
}